/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background-image: url(../images/cover-image-light.png);
  --background-color: #fff1f7;
  --accent-color: #ff8dcb;
  --accent-title-color: #353430;
  --main-title-color: #ffc2e6;
  --section-title-color: #353430;
  --main-text-color: #353430;
  --button-color: #353430;
  --button-color-hover: rgb(50 49 45 / 0.4);
  --shadow-color: #ff8dcb;
  --decorated-border-color: #353430;
}

.theme-light .header__decorative_element,
.theme-light .header__decorative_element::after {
  display: none;
}
