/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  block-size: 100dvh;
  min-block-size: 668px;
  padding: var(--general-internal-padding);
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  align-items: center;
  position: relative;
}

.decorated-zone::after,
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid var(--decorated-border-color);
  background: transparent;
}

.decorated-zone::before {
  top: 10px;
  right: 10px;
  border-bottom: none;
  border-left: none;
}

.decorated-zone::after {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
}

.header_decorative_element {
  display: flex; /*нужен дисплей блок для светлого*/
  flex-direction: row;
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: inherit;
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  text-transform: uppercase;
  color: var(--decorative-element-color);
  line-height: 138.89%;
}

.header_decorative_element::after {
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--decorative-element-color);
  box-shadow: 0 0 4px 2px var(--decorative-element-color);
  margin: 8px 10px;
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-block-end: 5px;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button {
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  text-transform: lowercase;
  line-height: 100%;
  color: var(--button-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 4px 13.5px;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
}

.header__theme-menu-button_type_auto {
  color: var(--button-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid rgb(50 49 45 / 0.4);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

.title {
  font-family: inherit;
  font-weight: var(--font-weight-bold);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--shadow-color);
  text-transform: lowercase;
  color: var(--main-title-color);
  line-height: 83%;
}

.header_description {
  inline-size: 100%;
}

.title-decor {
  background-color: var(--accent-color);
  color: var(--accent-title-color);
}

.header_description-text {
  font-weight: var(--font-weight-bold);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.content {
  padding-inline: var(--general-internal-padding);
  padding-block: var(--content-padding-block);
  display: grid;
  gap: var(--content-gap);
}

.content-section {
  display: grid;
  gap: var(--section-gap);
}

/* .content-section_reasons {} */

.content-section_title {
  font-weight: var(--font-weight-bold);
  font-size: var(--main-font-size);
  color: var(--section-title-color);
  line-height: var(--main-line-height);
}

.card-list {
  display: grid;
  gap: var(--section-gap);
  list-style: none;
}

.card-list-item {
  inline-size: 100%;
}

.card {
  display: grid;
  gap: var(--card-gap);
}

.card_title {
  font-weight: var(--font-weight-bold);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.card_text {
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  line-height: var(
    --main-line-height
  ); /*подумать, как сделать отступы между параграфами*/
}

.card_text_link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--shadow-color);
  cursor: pointer;
}

.card_text_link:hover {
  border-bottom: 1px solid currentColor;
}

.card_text_link:focus-visible {
  outline: 1px solid currentColor;
}

/* .content-section_сoncentration_problems {} */

.card-list_alternate {
}

/* .content-section_recommendations {} */

.content-section_container .card_title {
  margin-bottom: 20px;
  margin-top: -2px;
}

.card-list-item_heading {
  font-weight: var(--font-weight-regular);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.content-section_gallery {
  display: grid;
  gap: var(--card-gap);
  grid-auto-flow: dense;
}

.gallery__image {
  display: block;
  block-size: 100%;
  max-block-size: 100%;
  inline-size: 100%;
  max-inline-size: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  block-size: 100dvh;
  min-block-size: 668px;
  padding: var(--general-internal-padding);
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
}

.footer_title {
  text-shadow: 2px 2px 0 var(--shadow-color);
}

@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
    padding: var(--general-internal-padding);
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .header_decorative_element {
    top: 20px;
    right: 20px;
  }

  .header_description {
    inline-size: 50%;
    justify-self: end;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

  .content {
    padding-inline: var(--general-internal-padding);
    padding-block: var(--content-padding-block);
    gap: var(--content-gap);
  }

  .content-section {
    grid-template-columns: 1fr 2fr;
  }

  /* .content-section_reasons {} */

  .content-section_title {
    grid-column: 1;
  }

  .card-list {
    grid-column: 2;
  }

  /* .content-section_сoncentration_problems {} */

  .card-list_alternate {
    grid-column: 1 / 3;
  }

  /* .content-section_recommendations {} */

  .content-section_gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--section-gap);
  }

  .content-section_gallery .content-section_title {
    grid-column: 1 / 4;
  }

  .gallery__image:nth-of-type(1) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .gallery__image:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
  }

  .gallery__image:nth-of-type(3) {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
  }

  .gallery__image:nth-of-type(4) {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .gallery__image:nth-of-type(5) {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
  }

  .footer {
    min-block-size: 1024px;
    padding: var(--general-internal-padding);
  }

  .footer_title {
    margin-inline-start: 0;
  }
}
